In [1]:
print("***********************************")

***********************************

In [3]:
print ("Hola " * 70)

Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola Hola

In [4]:
#Exponenciación
print(2*3)
print (2*.3)
print(6./3)

6
0.6

In [5]:
print(10/2)

5.0

In [7]:
print(9/2)
#División entera
print(9//2)

4.5
4

In [8]:
#Operación del Módulo(residuo)
print(9%2)

1

In [10]:
#Operadores y sus prioridades
print(2 + 3 * 5)
print((2 + 3) * 5)

17
25

In [11]:
#Operadores y sus enlaces
print(2 ** 2 ** 3)

256

In [12]:
True=1

SyntaxError: cannot assign to True (<ipython-input-12-cd027a99ded3>, line 1)

In [14]:
x = 5
x = x + 3
print(x)

8

In [16]:
#Simplificar
x = 5
x += 3
print(x)

8

In [18]:
x=5
x **=3
print(x)

125

In [ ]:
#comentario de una sola linea

In [1]:
print("Dime algo...")
algo = input()
print("Mmm...", algo, "...¿en serio?")

Dime algo...
15
Mmm... 15 ...¿en serio?

In [2]:
x= int (input ("Dame un número para multiplicar"))
z = x*5
print(z)

Dame un número para multiplicar10
50

In [3]:
cateto_a = float(input("Inserta la longitud del primer cateto: "))
cateto_b = float(input("Inserta la longitud del segundo cateto "))
hipo = (cateto_a**2 + cateto_b**2) ** .5
print("La longitud de la hipotenusa es: ", hipo)

Inserta la longitud del primer cateto: 15
Inserta la longitud del segundo cateto 10
La longitud de la hipotenusa es:  18.027756377319946

In [4]:
nom = input("¿Me puedes dar tu nombre por favor? ")
ape = input("¿Me puedes dar tu apellido por favor? ")
print("Gracias.")
print("\nTu nombre es " + nom + " " + ape + ".")

¿Me puedes dar tu nombre por favor? Saúl Emanuel
¿Me puedes dar tu apellido por favor? Favela
Gracias.

Tu nombre es Saúl Emanuel Favela.

In [5]:
#Replicación (multiplicación)
print ("2"*5)
print (2*5)

22222
10

In [15]:
a= 2000
b=2000

if b>a:
    print ("b es mayor que a")
    print("el valor de b es =",b)
elif a==b:
    print("Los valores de a y b son iguales")
else:
        print("a es mayor que b")
        print("el valor de a es =",a)

Los valores de a y b son iguales

In [20]:
#if y if...else en version corta o simplificada
x = 50
y = 30

print("Y es menor que X") if x>y else print("X es mayor que Y")

Y es menor que X

In [29]:
i = 1
while i <=10:
    print(i)
    if i == 10:
        print("Entró al if")
        
        break
    i +=1

1
2
3
4
5
6
7
8
9
10
Entró al if

In [30]:
print(
"""
+==================================+
| Bienvenido a mi juego, muggle!   |
| Introduce un número entero       |
| y adivina qué número he          |
| elegido para ti.                 |
| Entonces,                        |
| ¿Cuál es el número secreto?      |
+==================================+
""")

+==================================+
| Bienvenido a mi juego, muggle!   |
| Introduce un número entero       |
| y adivina qué número he          |
| elegido para ti.                 |
| Entonces,                        |
| ¿Cuál es el número secreto?      |
+==================================+

In [12]:
#Si no se especifica un rango inicial, comenzará en 0
for x in range (5):
    print(x)

0
1
2
3
4

In [14]:
#se le da un rango inicial y uno final (el final es = valor -1)
for x in range (1,6):
    print(x)

1
2
3
4
5

In [18]:
# Indicando un valor de incremento por cada repetición o iteración
# Comienza en 1, termina hasta 10, con incrementos de 2
for x in range (1,10,2):
    print(x)

1
3
5
7
9

In [21]:
# Lista de valores
frutas = ["naranja","plátano","sandía"]
numeros = [1,5,3,8,99]
for x in frutas:
    print(x)

naranja
plátano
sandía

In [25]:
# Lista de valores
frutas = ["naranja","plátano","sandía"]
numeros = [1,5,3,8,99]
for x in frutas:
    print(x)
    break

naranja

In [28]:
# Lista de valores
frutas = ["naranja","plátano","sandía","melón","guayaba"]
numeros = [1,5,3,8,99]
for x in frutas:
    print(x)
    if x == "sandía":
        break

naranja
plátano
sandía

In [32]:
# Lista de valores
frutas = ["naranja","plátano","sandía","melón","guayaba"]
numeros = [1,5,3,8,24,39,52,99]
for x in numeros:
    print(x)
    if x == 39:
        break

1
5
3
8
24
39

In [57]:
valor = int(input("Ingresa el valor a multiplicar: "))
for i in range (1,11):
    print(valor,"x",i,"=",valor*i)

Ingresa el valor a multiplicar: 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80